// LightMode

$card-bg: #fff;
$main-text: #1e1d40;
$delete-btn: #D90D32;
$edit-btn: #1b65a6;
$save-btn: #44059F;
$details: #4ab0d9;
$input-bg: #e0e0e0;

// Globals
$background-light: #f2e6d8;
$border-bottom: #1e1e1e;
$header-text: #1e1e1e;
$link-color: #1b65a6;