@import "../../utils/_variables.scss";


.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;


    &__li {
        display: inline-block;
        margin: 0 10px;
        text-decoration: none;

        &--link {
            text-decoration: none;
            color: $link-color;
            font-weight: 700;
            font-size: 1.2rem;
            transition: all .3s ease-in-out;
            border-radius: 5px;
            border: 1px solid $link-color;
            padding: 5px 10px;


            &:hover {
                color: #fff;
                background-color: $main-text;
            }
        }
    }
}